<div class="flex-column w-100">
    <div class="chat-message">
        <div class="d-inline-flex justify-content-between w-100">
            <strong class="font-weight-light flex-start">User 1</strong>
            <p class="font-italic flex-end">6:33pm</p>
        </div>
        <p>Hi how can I help you</p>
    </div>
    <div class="chat-message">
        <div class="d-inline-flex justify-content-between w-100">
            <strong class="font-weight-light flex-start">User 2</strong>
            <p class="font-italic flex-end">6:37pm</p>
        </div>
        <p>Hi I'm wanting to find shoes</p>
    </div>
    <div class="chat-message">
        <div class="d-inline-flex justify-content-between w-100">
            <strong class="font-weight-light flex-start">User 1</strong>
            <p class="font-italic flex-end">6:38pm</p>
        </div>
        <p>Well here are the shoes we have</p>
    </div>
    <div class="align-self-end d-inline-flex w-100">
        <input type="text" placeholder="Enter your message">
        <button type="button" class="btn btn-primary">Send</button>
    </div>
</div>